.browse-container {
  justify-content: center;
  margin: 5em 0;
}

.heading {
  letter-spacing: .2em;
  font-size: 4rem;
  color:#666A86;
}

.filters {
  margin-right: 5em;
  width: 25em;
}

.filters ul {
  font-size: 2.5rem;
}

.filters > ul > li {
  padding: .5em;
  display: flex;
  flex-direction: column;
}

.filters > ul > li:not(:last-child) {
  border-bottom: 1px solid #333;
}

.title {
  color: #666A86;
  padding: .5em 0;
}

.filters span {
  margin-right: auto;
}

.sub-items {
  font-size: 2rem !important;
  overflow: hidden;
}

.sub-items li {
  margin-top: .5em;
  margin-bottom: .75em;
}

.title {
  display: flex;
  cursor: pointer;
}

.title span {
  margin-right: auto;
}

.title i.go {
  transform: rotate(180deg);
}

.custom-checkbox {
  position: relative;
  cursor: pointer;
  display: block;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: .33em;
  margin-top: .33em;
}

.custom-checkbox input {
  display: none;
  opacity: 0;
}

.checkmark {
  position: absolute;
  display: block;
  width: 1.3em;
  height: 1.3em;
  background: transparent;
  border: 1px solid #333;
  right: .5em;
  top: 0;
  border-radius: 3px;
}

.custom-checkbox input:checked ~ .checkmark:after {
  position: absolute;
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  left: .1em;
  top: 1px;
  color: #666A86;
}

.comics {
  min-height: 50rem;
  min-width: 40vmax;
  border: 3px solid goldenrod;
  font-size: 1.5rem;
}

.comic img {
  width: 150px;
  margin: 1em 0;
}

.comic h2 {
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  margin-bottom: .5em;
}

.scroll {
  width: 20em;
  height: 15em;
  overflow: auto;
}

.info {
  font-size: 1.8rem;
  padding: .5em 0;
  color: #666A86;
}

.aid {
  margin: 1em 0;
}

.aid a:first-child {
  margin-left:0;
}

@media only screen and (max-width: 770px) {
  .browse-container {
    display:flex;
    flex-flow: column wrap;
    align-items:center;
  }

  .filters {
    width:100%;
    margin:0;
    text-align: center;
  }

  .comics {
    min-height: 80vmax;
    min-width: 50vmax;
  }

}


