.browse-container {
  justify-content: center;
  margin: 5em 0;
}

.heading {
  letter-spacing: .2em;
  font-size: 4rem;
}

.filters {
  margin-right: 5em;
  width: 10em;
  flex: 1;
}

.filters ul {
  font-size: 2.5rem;
}

.filters > ul > li {
  padding: .5em;
  display: flex;
  flex-direction: column;
}

.filters > ul > li:not(:last-child) {
  border-bottom: 1px solid #333;
}

.title {
  color: #666A86;
  padding: .5em 0;
}

.filters span {
  margin-right: auto;
}

.sub-items {
  font-size: 2rem !important;
}

.comics {
  min-width: 60vmax;
  background-color:rgb(210, 190, 229);
  border:3px solid goldenrod;
}

@media only screen and (max-width: 770px) {
  .browse-container {
    display:flex;
    flex-flow: column wrap;
    align-items:center;
  }

  .filters {
    width:100%;
    margin:0;
    text-align: center;
  }

  .comics {
    min-height: 50em;
  }

}


/*
@media (max-width: 650px) {
  .left {
    margin-right: 0;
  }
  .news-wrapper {
    display: flex;
    flex-flow: column wrap;
  }
  .left h2 {
    font-size: 2.7rem;
  }
  .left p {
    font-size: 1.7rem;
  }
}


.browse-container {
  width: 102.4rem;
  margin: 5em auto;
  justify-content: space-between;
}

.heading {
  letter-spacing: .2em;
}

.browse-container h1 {
  font-size: 4.3rem;
}

.filters {
  width:300px;
}

.comics {
  flex: 2;
  background: burlywood;
}



*/

