.browse-container {
  justify-content: center;
  margin: 5em 0;
}

.heading {
  letter-spacing: .2em;
  font-size: 4rem;
  color:#666A86;
}

.filters {
  margin-right: 5em;
  width: 20em;
}

.filters ul {
  font-size: 2.5rem;
}

.filters > ul > li {
  padding: .5em;
  display: flex;
  flex-direction: column;
}

.filters > ul > li:not(:last-child) {
  border-bottom: 1px solid #333;
}

.title {
  color: #666A86;
  padding: .5em 0;
}

.filters span {
  margin-right: auto;
}

.sub-items {
  font-size: 2rem !important;
  overflow: hidden;
}

.comics {
  min-width: 40vmax;
  background-color:rgb(210, 190, 229);
  border:3px solid goldenrod;
}

.title {
  display: flex;
  cursor: pointer;
}

.title span {
  margin-right: auto;
}

.title i.go {
  transform: rotate(180deg);
}

@media only screen and (max-width: 770px) {
  .browse-container {
    display:flex;
    flex-flow: column wrap;
    align-items:center;
  }

  .filters {
    width:100%;
    margin:0;
    text-align: center;
  }

  .comics {
    min-height: 80vmax;
    min-width: 80vmax;
  }

}


/*
.browse-container {
  width: 102.4rem;
  margin: 5em auto;
  justify-content: space-between;
}

.filters {
  width:300px;
}

.comics {
  flex: 2;
  background: burlywood;
}
*/

