.slider {
  background: #333;
  position: relative;
  width:100%;
  min-height: 30rem;
  margin-top: 5em;
  padding: 4.5em;
}

.slider img {
  margin: 0 .6em;
  width:200px;
}

.sneak-peak {
  position: absolute;
  top: -1.3em;
  left: 9em;
  background:#666A86;
  color: white;
  letter-spacing: .2em;
  min-width: 15em;
  text-align: center;
  font-size: 1.9rem;
  padding:.5em;
  text-transform: uppercase;
}

.slider .fas {
  color:white;
  font-size: 4rem;
  margin: .5em;
}

