.slider {
  background: #333;
  width:100%;
  min-height: 30rem;
  margin-top: 6.5em;
  padding: 4.5em;
  flex-wrap: nowrap;
}

.list-of-comics {
  position: relative;
}

.sneak-peek {
  position: absolute;
  top: -3.5em;
  left: -2.2em;
  background:#666A86;
  color: white;
  letter-spacing: .2em;
  min-width: 22em;
  text-align: center;
  font-size: 1.9rem;
  padding:.5em;
  text-transform: uppercase;
}

.slider .fas {
  color:white;
  font-size: 4rem;
  margin: .5em;
  cursor:pointer;
}

.image-slider-wrap {
  overflow: hidden;
  width: 80rem;
}

.image-slider {
  display: flex;
  align-items: flex-start;
}

.image-slider img {
  width: 200px;
  flex: 0 0 200px;
  margin: 0 .6em;
}


@media only screen and (max-width: 1300px) {
  .sneak-peek {
    position:absolute;
    top: -2.3em;
    left: 50%;
    right:50%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 900px) {
  .image-slider-wrap {
    width: 60rem;
  }
}

@media only screen and (max-width: 900px) {
  .image-slider-wrap {
    width: 40rem;
  }
}

@media only screen and (max-width: 500px) {
  .sneak-peek {
    min-width: 16.8em;
  }

  .image-slider-wrap {
    width: 20rem;
  }
}

/* ----- ADVERTSIZMENT FOR LIST/REGISTER ----- */
.list-adv {
  font-size:2.3rem;
  padding:4em 0;
}

.la-group {
  width:60rem;
  text-align: justify;
}

.list-adv a {
  display:block;
  margin: 0 0 1em 2em ;
  font-size:1em;
}

/* ----- LAST ADDED ----- */
.last-added img {
  width:100%;
  height:100%;
}

.list-adv h2 {
  font-size:2.4rem;
  color:#666A86;
  letter-spacing: .1em;
  margin-bottom:.7em;
  font-family:"Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing:.2em;
}

.l3-item {
  width:250px;
  position:relative;
  margin-right:.5em;
}

.l3-desc {
  position:absolute;
  z-index:100;
  bottom:0em;
  left:0em;
  right:0em;
  color:white;
  background: rgba(0, 0, 0, .55);
  padding-bottom:2em;
  transition: all ease-in-out 250ms;
}

.l3-item {
  overflow:hidden;
}

.l3-desc {
  transform: translateY(150%);
}

.l3-item:hover .l3-desc {
  transform: translateY(0);
}

.the-rest {
  margin-top:.7em;
  font-size:1.8rem;
}

.the-rest a {
  margin:0;
  font-size:1.8rem;
  display:inline;
  color:#666A86;
  font-weight: 700;
}

@media only screen and (max-width: 790px) {
  .last-added {
    justify-content: center;
  }

  .l3-item {
    width: 400px;
    margin-bottom:1em;
  }

  .l3-desc {
    padding-bottom: 5.5em;
  }

  .the-rest, .the-rest a {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 510px) {
  .l3-item {
    width: 200px;
    margin-bottom: 1em;
  }
}

/* ----- FILTER SECTION ----- */
.section-filter {
  background-color: rgba(102, 106, 134, 0.6);
  padding: 5em 0;
  align-items: flex-start;
}

.sf-article {
  width:700px;
  text-align:center;
}

.sf-article h3 {
  padding-bottom: 2em;
  letter-spacing: .5em;
  color: white;
  text-shadow: 3px 4px 3px grey;
}

.section-filter a {
  color:black;
  font-size:2rem;
  padding-right: .5em;
}

.section-filter a:nth-child(even) {
  font-size:3rem;
}

.section-filter a:nth-child(5n+2) {
  font-size:2.7rem;
}