@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Raleway|Bangers');

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

html {
  font-size: 62.5%;
}

body {
  color:#333;
  font-family: 'Raleway', sans-serif;
  background-image: url("../images/hypnotize.png");
  background-repeat: repeat;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

header {
  background: #666A86;
  font-family: 'Bangers', cursive;
}

h1, h2 {
  font-family: 'Bangers', cursive;
}

.warning {
  color:#666A86;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.just-center {
  justify-content: center;
}

.row-no-wrap {
  display:flex;
  flex-flow: row nowrap;
}

.text-center {
  text-align: center;
}

.flex-col {
  display: flex;
  flex-flow: column wrap;
}

.align-center {
  align-items: center;
}

.center {
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

/* ----- Modal ------ */
.modal {
  position: fixed;
  min-height: 40rem;
  height: 40rem;
  width: 50%;
  max-width: 40rem;
  background: transparent;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  overflow: hidden;
  z-index: 1000;
  perspective: 1200px;
  border-radius: .3em;
}

.modal .card {
  width: 100%;
  height: 100%;
  transition: transform ease-out 1s;
  transform-style: preserve-3d;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  backface-visibility: hidden
}

.card__face--front {
  background: #666A86;
}

.card__face--back {
  background: #666A86;
  transform: rotateY(180deg);
}

.modal .modal-exit {
  font-family: 'Raleway', sans-serif;
  display: block;
  position: absolute;
  right: 10px;
  top: -5px;
  font-size: 3rem;
  color: black;
  cursor: pointer;
  transition: all ease 150ms;
}

.modal .form-error {
  color: white;
  font-size: 1.3rem;
  text-align:justify;
}

.modal .modal-exit:hover {
  color:white;
}

.modal.show {
  min-height: 0 !important;
  animation-name: modal-in;
  animation-duration: 600ms;
  display: flex;
}

.modal.hide {
  min-height: 0 !important;
  animation-name: modal-out;
  animation-duration: 600ms;
  display: flex;
  width: 0;
  height: 0;
}

@keyframes modal-out {
  from {
    width: 50%;
    height:40rem;
  }
  to {
    width: 0;
    height: 40rem;
  }
}

@keyframes modal-in {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

.modal h1 {
  text-align: center;
  letter-spacing: .2em;
  font-size:2.3rem;
}

.modal form {
  width:70%;
}

.modal form input {
  display: block;
  border:none;
  background: rgba(255,255,255,0.4);
  border-radius: .2em;
  padding: 1.3em 1.3em 1.3em 3em;
  color: #333;
  width: 100%;
  margin: 1em auto;
  height: 2em;
  position: relative;
}

.fa-span {
  position: absolute;
  font-size: 2rem;
  color: #333;
  opacity: 0.7;
  top: 8px;
  left: 10px;
}

.modal form input::-moz-placeholder {
  color:#333;
  letter-spacing: .2em;
}

.modal form input::placeholder {
  color:#333;
  letter-spacing: .2em;
}

.modal button {
  margin-top: 1em;
  border: none;
  background: transparent;
  color: white;
  border: 2px solid white;
}

.modal button:hover,
.modal button:focus {
  border:none;
  background:white;
  color:#666A86;
  border: 2px solid white;
}

/* ----- NAVIGATION ----- */

.nav li {
  display: inline-block;
}

.logo {
  color:#666A86;
  font-family: 'Raleway',
  sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .5em;
  font-size:2rem;
}

.logo:hover {
  color:rgba(255,255,255,0.4);
}

.navigation a {
  color:white;
  display:block;
  text-align:center;
  font-size: 2rem;
  padding: .7em 1em .7em 0;
  margin-left: 1em;
}

.navigation ul {
  padding: 1em 0;
  overflow: hidden;
}

.navigation ul li {
  position: relative;
}

.navigation ul li:after {
  display: block;
  position: absolute;
  left: 1em;
  width: 70%;
  height: 5px;
  background: white;
  content: "";
  transform: translateY(11px);
  transition: transform ease .3s;
}

.navigation ul li:hover:after {
  transform: translateY(6px);
}

.log-reg {
  background:#333333;
  width:100%;
  padding:2em;
}

.log-reg ul {
  margin-left: auto;
}

@media only screen and (max-width: 600px) {
  .log-reg ul {
    margin: 2.5em 0 2.5em 0;
  }
  .navigation a {
    font-size: 1.4rem;
  }
}

.btn-style {
  font-size:1.4rem;
  font-family: 'Bangers', cursive;
  padding: .7em;
  margin-left: 1em;
  text-align: center;
  color:#666A86;
  border: 2px solid #666A86;
}

.btn-style:hover,
.btn-style:focus {
  background:#666A86; 
  color:#333;
}

.bs-white:hover, .bs-white:focus {
  color:white;
}

/* ----- FOOTER ----- */

footer {
  background:#333;
  width:100%;
}

.footer-picture {
  background-image: url("../images/footer-wallp.png");
  padding: 8em 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: 15%;
  flex-wrap:wrap;
}

.footer-picture strong {
  color: #7680c9;
}

.disclaimer {
  color:white;
  font-size:1.6rem;
  width:12em;
  margin-left: 5em;
  align-self: flex-start;
}

.links a {
  color:white;
  font-size:2rem;
}

.links a:hover, .links a:focus {
  color:#7680c9;
}

.links li {
  padding-bottom: 1em;
  border-bottom: 1px solid gray;
  margin-bottom: 1em;
  min-width: 20em;
}

.disclaimer .fab {
  font-size: 2.5rem;
  color: #7680c9;
  margin: 1em 0;
  padding-right: .5em;
}

.update-comic button.disabled {
  cursor: not-allowed;
}

.select2-container {
  width:300px !important;
  margin: .5em 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #666A86 !important;
  color:white !important;
}

.select2-results__options li {
  font-size: 1.7rem;
}

@media only screen and (max-width: 475px) {
  .disclaimer {
    margin: 1em 2.5em;
  }
}

@media only screen and (max-width:700px) {
  .sf-article {
    margin: 0 2em;
  }
}
