@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Permanent+Marker');

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  background: #666A86;
  font-family: 'Fjalla One', sans-serif;
  text-transform: lowercase;
}

.nav li {
  display: inline-block;
}

.navigation a {
  color:white;
  display:block;
  text-align:center;
  font-size: 2rem;
  padding: 1em 1em 1em 0;
  margin-right: 1em;
}

.navigation ul {
  padding: 1em 0;
  overflow: hidden;
}

.navigation ul li {
  position: relative;
}

.navigation ul li:after {
  display: block;
  position: absolute;
  width: 70%;
  height: 5px;
  background: white;
  content: "";
  transform: translateY(10px);
  transition: transform ease .3s;
}

.navigation ul li:hover:after {
  transform: translateY(5px);
}

.just_center {
  justify-content: center;
}
.flex_col {
  display:flex;
  flex-flow: column wrap;
}

.flex_end {
  align-items: center;
}

.flex_row {
  display:flex;
  flex-flow: row wrap;
}

.log_reg {
  background:#333333;
  width:100%;
  padding:3em;
}

.log_reg ul {
  margin-left: auto;
}

.log_reg a {
  font-size:1.5rem;
  padding: .7em;
  margin-left: 1em;
  color:#666A86;
  border: 2px solid #666A86;
}

.log_reg a:hover, .log_reg a:focus {
  background:#666A86; 
  color:#333;
}
